.alice-carou-container .alice-carousel {
  max-width: 500px;
}

.alice-carou-container {
  margin-top: -40px;
}

.picker {
  width: 100%;
}

.picker-container {
  position: relative;
}
.picker-button {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: auto;
}
.picker-content {
  text-align: center;
}

.picker-more {
  text-align: center;
  margin-bottom: 15px;
}

.picker-content h3 {
  padding-bottom: 0px;
  display: block;
  font-size: 1.17em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-weight: bold;
}

.picker-more .picker-more-btn {
  background: none;
  border: none;
  border-bottom: 2px solid var(--primary);
}

.timeslots {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.timeslots button {
  font-family: "Poppins", sans-serif;
  width: 90%;
  height: 35px;
  margin-bottom: 10px;
  /* margin: 10px; */
  border-radius: 5px;
  border: none;
  background-color: #e9ffff;
  color: black;
}

.timeslots button:disabled {
  background-color: brown;
}

.timeslots .blocked {
  width: 90%;
  height: 35px;
  margin-bottom: 10px;
  color: var(--primary);
}

.k-timer {
  display: flex;
  justify-content: center;
  margin-top: -40px;
}
.k-picker-button {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 10px auto;
}

.k-picker-content {
  text-align: center;
  margin: 5px;
}
.k-picker-content h3 {
  padding-bottom: 0px;
  display: block;
  font-size: 1.17em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-weight: bold;
}

.k-timeslots {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.k-timeslots button {
  font-family: "Poppins", sans-serif;
  width: 90%;
  height: 35px;
  margin-bottom: 10px;
  /* margin: 10px; */
  border-radius: 5px;
  border: none;
  background-color: #e9ffff;
  color: black;
}

.k-timeslots .blocked {
  width: 90%;
  height: 50px;
  margin: auto;
  /* margin-bottom: 10px; */
  color: var(--primary);
}

@media (min-width: 574px) {
  /* .alice-carou-container .alice-carousel{
        width: 300px;
    } */
}

@media (min-width: 766px) {
  /* .alice-carou-container .alice-carousel{
        width: 500px;
    } */
}

@media (min-width: 990px) {
  /* .alice-carou-container .alice-carousel{
        width: 600px;
        max-width: 600px;
    } */
}

@media (min-width: 1198px) {
  /* .alice-carou-container .alice-carousel{
        width: 600px;
        max-width: 600px;
    } */

  .k-picker-content {
    margin: 5px;
  }
}
