@import "react-alice-carousel/lib/alice-carousel.css";
/* .rbc-time-slot { min-height: 80px; } */
.card {
  display: flex;
  align-content: center;
  margin: auto;
  margin-bottom: 20px;
  width: 350px;
  height: 150px;
  padding: 10px;
}

.card-content {
  font-family: "Poppins", sans-serif;
  display: block;
  margin: 0px 20px;
}


.pro-profile-menu{

}

.pro-profile-menu-image{
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.pro-profile-menu ul {
  /* display: block;
  list-style-type: disc;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; */
  padding-inline-start: 15px;
}

.pro-profile-menu h2{
  font-weight: 500;
  font-size: 1.2em;
  color: black;
}
.pro-profile-menu h3{
  font-weight: 500;
  font-size: 1.0em;
}

.pro-profile-menu-list li{
list-style-type: none;
display: flex;
margin: 1em 0;
}

.u-list-icon{
  margin-right: 5px;
}


.pro-profile-menu-list a{
  text-decoration: none;
  color: black;
  }



.pro-profile .css-cnd76u-MuiPaper-root {
font-family: 'Poppins', sans-serif;
}


/* .profile-settings{
  margin-bottom: 20px;
} */
.basic-info-container{
  display: block;
  width: 100%;
  /* padding: 15px; */
}

.basic-info-container input, .basic-info-container label, .basic-info-container textarea{
  width: 100%;
}

label b{
  font-weight: 500;
}
.basic-info-container {
text-align: left;
}


.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  /* line-height: 1.5; */
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control {
  border-color: #dcdcdc;
  color: #333;
  font-size: 15px;
  min-height: 30px;
  padding: 6px 15px;
}

.tags{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.tag{
  background-color: #abe4e7;
  padding: 5px;
  margin: 3px;
}

.timeslot-container{
  display: flex;
  justify-content: space-between;
}

/* .timeslot-contents.css-1xgjpwf-MuiGrid-root{
  margin-top: 5px;
} */


 .timeslotDialog .css-1t1j96h-MuiPaper-root-MuiDialog-paper{
  width: 500px;
  margin-bottom: 55px;
}


@media (min-width: 574px) {
  .search-card {
    width: 95%;
  }
}

@media (min-width: 766px) {
  .search-card {
    width: 85%;
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
  }
}

@media (min-width: 990px) {
  .search-card {
    width: 80%;
  }
}

@media (min-width: 1198px) {
  .search-card {
    width: 70%;
  }
}

