@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');

:root{
  --primary: #009BA4;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: 'Poppins',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

.info p{
  margin: 1px;
}

button{
  font-family: 'Poppins', sans-serif;
}

.button1{
  text-decoration: none;
  color: white;
  background-color: var(--primary);
  padding: 10px;
  border-radius: 5px;
  border: 2px solid white;
}

.button2{
  text-decoration: none;
  color: var(--primary);
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
  border: 2px solid var(--primary);
}

.home{
  width: 100%;
}
.hero{
  background: url(./images/Untitled\ design\ \(3\).png);
  background-repeat: no-repeat ;
  background-size: cover;
  height: 450px;
  padding: 15px;
}

.hero-search{
width: 100%;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  bottom: 40%;
  margin: auto;
}


.hero-title{
  color:white;
  font-size: 23px;
  font-weight: 700;
  width: 80%;
  text-align: center;
  margin: 5px auto;
  max-width: 800px;
}

.hero-field{
  width: 80%;
  max-width: 800px;
  margin: 5px auto;
  display: flex;
}

.hero-search input, .hero-search button{
  height: 50px;
  max-height: 50px;
}

.hero-search input {
  padding: 0px 20px;
  padding-left: 20px;
  border: none;
  width: 100%;
}

.hero-search input::placeholder{
  font-size: 1.2em;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.input-container {
  position: absolute;
}

input.hero-location {
  background: white url(./images/map.png) left no-repeat;
  background-size: 18px;
  padding-left: 25px;
}

input.invalid {
  background: white url(./images/exclamation-mark.png) right no-repeat;
  background-size: 18px;
  padding-right: 25px;
  border: 1px solid red;
}

.hero-button{
  height: 50px;
  background-color: var(--primary);
  text-decoration: none;
  text-align: center;
  color: white;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid white;
}

.hero-button-mobile{
  background-color: var(--primary);
  text-decoration: none;
  color: rgb(63, 61, 61);
  border: 1px solid white;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;
  display: none;
}

.hero-button-mobile img{
  width: 30px;
  color: white;
}




.info{
  background-repeat: no-repeat ;
  background-size: cover;
  padding: 15px;
}

.info-content1{
  background-color: #f0fafe;
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 15px;
}

.idea{
  width: 250px;
  height: 258px;
  margin-right: 5px;
}

.professional{
  display: flex;
}


.professional-content a{
  text-decoration: none;
  color: white;
  background-color: var(--primary);
  padding: 10px;
  border-radius: 5px;
}
.professional-content p{
  margin-bottom: 20px ;
}

.info-services{
  background:#f0fafe;
  padding: 10px;
  border-radius: 3px;
}

.service-title{
  display: inline-block;
}
.service-title-buttons{
  display: flex;
}

.service-items{
  /* display: flex;
  justify-content: center; */
  margin: 15px auto;
}

.service-types{
  list-style-type: none;
  padding: 0px 10%;
  /* align-content: center; */
}

.service{
  text-align: center;
  padding: 5px;
}

.service img{
  border-radius: 5px;

}

.service p{
  margin-top: 0px;
}

.service img{
  width: 100%;
}

.professional-section{
  padding: 15px;
}

.pro-title{
  display: flex;
  justify-content: center;
}

.pro-title img{
  width: 100px;
}

.pro-title h3{
  font-weight: 400;
}

.pro-offers{
  list-style-type: none;
  padding: 0px 10%;
}

.offer{
  text-align: center;
}

.offer img{
  width: 30%;
}

@media (max-width:323px) {
  .professional{
    display: block;
    margin-bottom: 15px;
  }
}

@media (min-width:554px) {
  .service-types{
    display: grid;
    grid-template-columns: repeat(2, 2fr);    grid-gap: 10px;
  }
  .service img{
    height: 170px;
  }
}

@media (min-width:604px) {
  .hero-practitian{
    width: 40%;
  }
  .hero-location{
    width: 30%;
    display: inline;
  }

  .pro-offers{
    display: grid;
    grid-template-columns: repeat(3, 2fr);    grid-gap: 10px;
  }
  .offer img{
    width: 50%;
  }
}

@media (min-width:769px) {
  /* p{
    font-size: 1.3em;
  } */
  .hero{
    height: 450px;
  }
  .hero-title{
    font-size: 30px;
  }
  .hero-button-mobile{
    display: none;
  }
  .hero-button{
    display: inline;
  }
  .service-types{
    display: grid;
    grid-template-columns: repeat(3, 2fr);    grid-gap: 10px;
  }
  .service img{
    height: 220px;
  }

  .pro-offers{
    display: grid;
    grid-template-columns: repeat(3, 2fr);    
    grid-gap: 10px;
  }
  .offer img{
    width: 50%;
  }
}

@media (min-width:793px) {
  .info-content1{
    display: grid;
    /* grid-template-columns: 1fr 2.5fr ;    
    grid-gap: 15px; */
    display: flex;
    justify-content: center;
  }
  .professional-content{
    width: 50%;
  }
}


@media (min-width:1024px) {
    .hero-search{
      height: 450;
      width: 70%;
      margin: 0px;
    }


  .hero-title{
    font-size: 32px;
  }
  
  .info-content1{
    width: 90%;
    margin: auto;
    margin-bottom: 15px; 
  }
  .info-services{
    width: 90%;
    margin: auto;
    margin-bottom: 15px;
    display: flex;
  }

  .service-items{
    width: 70%
  }
}

@media (min-width:1200px) {
  .hero-search{
    /* width: 80%; */
  }
  .hero-title, .hero-field{
    /* width: 80%;
    margin: auto; */
  }

  .info-content1{
    width: 80%;
  }
  .info-services{
    width: 80%;
  }
  
  .offer img{
    width: 45%;
  }

}

@media (min-width:1400px) {

  .hero-search{
    /* width: 80%; */
  }
  .hero-title{
    /* font-size: 40px; */
  }
  

  .info-content1{
    width: 70%;
  }
  .info-services{
    width: 70%;
  }
}


