.register-uploader{
    /* width: 100%; */
    /* margin: 50px; */
}

/* .register-uploader-content{
    width: 100%;
    margin: auto;
} */

@media (min-width: 1198px) {
    .register-uploader{
        /* width: 70%; */
    }
}

@media (min-width: 990px) {
    .register-uploader{
        /* width: 70%; */
    }
}

@media (min-width: 766px) {
    .register-uploader{
        /* width: 80%; */
    }
}

@media (min-width: 574px) {
    .register-uploader-content{
        width: 100%;
        margin: auto;
    }
}